<h1>Comedians</h1>
<h4>Average age of all comedians: <%= Comedian.average_age %> years old</h4>

<% @comedians.each do |comedian| %>
  <h2><%= comedian.name %>(<%= comedian.age %>)</h2>
  <h4>Specials:</h4>
  <ul><% comedian.specials.each do |special| %>
    <li><%= special.name %></li>
  <% end %></ul>
<% end %>
